<strong>Olá, {{student}}</strong>
<p>Sua matrícula foi realizada com sucesso, confira os detalhes abaixo:</p>
<p>
  <strong>Seu ID de acesso ao aplicativo é:</strong> {{id}} <br />

  <strong>Plano: </strong> {{plan}} <br />
  <strong>Data/hora de término: </strong> {{date}} <br />
  <strong>Valor: </strong> {{price}} <br />
  <br />
  <small>
    Seja bem-vindo(a) a GymPoint!
  </small>
</p>
